#!/bin/sh

echo "####### Datagrid 8 Cluster mode "{{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}" #######"
{{ datagrid_path }}/bin/server.sh -c infinispan.xml --cluster-stack={{group_names[0]}} -b {{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}} > /dev/null &
